bin/
cli/bin/
node_modules/
coverage.out
coverage.html
*.out
*.test
.DS_Store
dist/
cli/vscode-extension/bin/
cli/vscode-extension/node_modules/
cli/vscode-extension/out/
cli/vscode-extension/.vscode-test/
markdowntown
